### Extract – Transform – Load

In [10]:
#   Importamos librerias a usar y configuramos entorno
import pandas as pd
import numpy as np


from pathlib import Path
import warnings
warnings.filterwarnings("ignore")

In [11]:
#   Creamos Ruta y Cargamos DATASET
ruta = r'c:\Users\marco\ex00\asistencia-carretera-analitica\data\raw\incidencias_asistencia.csv'
data = pd.read_csv(ruta)

In [12]:
#   Revisamos las primeras filas del dataset
display(data.head())

,Id_Incidente,Fecha,Hora,Ciudad,Latitud,Longitud,Tipo_Incidencia,Tipo_Vehiculo,Proveedor,Distancia_km,Tiempo_Respuesta_min,Medio_Retorno,Costo_EUR,Resuelto,SLA_45min_Incumplido,Satisfaccion_1a5,Notas
0,1,2024-12-11,20:42,Barcelona,41.38918,2.13438,Combustible,SUV,Proveedor B,17.1,21.3,Taxi,19.02,Sí,No,5.0,NaN
1,2,2025-02-16,21:14,Madrid,40.36878,-3.62800,Neumático,SUV,Proveedor A,43.6,37.7,Grúa,103.20,Sí,No,4.4,NaN
2,3,2024-10-22,07:19,Zaragoza,41.61188,-0.88377,Motor,SUV,Proveedor B,14.3,53.0,Grúa,132.82,Sí,Sí,4.2,NaN
3,4,2025-04-05,17:33,Sevilla,37.39681,-5.95097,Neumático,Furgoneta,Proveedor C,25.5,12.1,Grúa,79.25,Sí,No,5.0,NaN
4,5,2024-10-10,20:44,Sevilla,37.41560,-5.90646,Batería,Furgoneta,Proveedor C,23.8,40.3,Retorno Domicilio,39.36,Sí,No,4.4,NaN

In [13]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id_Incidente          900 non-null    int64
 1   Fecha                 900 non-null    object
 2   Hora                  900 non-null    object
 3   Ciudad                900 non-null    object
 4   Latitud               900 non-null    float64
 5   Longitud              900 non-null    float64
 6   Tipo_Incidencia       900 non-null    object
 7   Tipo_Vehiculo         900 non-null    object
 8   Proveedor             900 non-null    object
 9   Distancia_km          900 non-null    float64
 10  Tiempo_Respuesta_min  900 non-null    float64
 11  Medio_Retorno         900 non-null    object
 12  Costo_EUR             900 non-null    float64
 13  Resuelto              900 non-null    object
 14  SLA_45min_Incumplido  900 non-null    object
 15  Satisfaccion_1a5      900 non-null    float64
 16  Notas                 0 non-null      float64
dtypes: float64(7), int64(1), object(9)
memory usage: 119.7+ KB

None

In [14]:
# Realizamos cambios en las columnas de Fecha y Hora

data["Fecha"] = pd.to_datetime(data["Fecha"], format="%Y-%m-%d")
data["Hora"] = pd.to_datetime(data["Hora"]).dt.time

In [15]:
#   Chequeamos si hay valores nulos

data.isnull().sum()

Id_Incidente              0
Fecha                     0
Hora                      0
Ciudad                    0
Latitud                   0
Longitud                  0
Tipo_Incidencia           0
Tipo_Vehiculo             0
Proveedor                 0
Distancia_km              0
Tiempo_Respuesta_min      0
Medio_Retorno             0
Costo_EUR                 0
Resuelto                  0
SLA_45min_Incumplido      0
Satisfaccion_1a5          0
Notas                   900
dtype: int64

In [16]:
# Eliminamos columnas que no aportan valor al análisis y utilizamos Id_Incidente como índice
data = data.set_index("Id_Incidente")
data = data.drop(columns=["Notas"])

In [17]:
#   Creamos columna nueva "Fecha_Hora" uniendo Fecha y Hora
data["Fecha_Hora"] = pd.to_datetime(data["Fecha"].astype(str) + ' ' + data["Hora"].astype(str))

In [18]:
#   Guardamos dataset limpio en ruta data/processed
data.to_csv("../data/processed/incidencias_asistencia_limpio.csv", index=False)